main {
  width: 100%;
}
main .navvv {
  width: 100%;
  height: 78px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 1px;
  z-index: 999;
  background-color: #fff;
}
main .navvv .nav-bar {
  background-color: #fff;
  width: auto;
  margin: 0 auto;
  padding: 13px 130px;
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 111 !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 1px;
}
main .navvv .nav-bar img {
  width: 150px;
}
main .navvv .nav-bar .navbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
main .navvv .nav-bar .navbar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  padding: 12px 32px;
  font-size: 16px;
  transition: 0.3s;
}
main .navvv .nav-bar .navbar a:hover {
  color: #326A32;
}

.navbarrr {
  display: none !important;
}

.user-name {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: #000;
  display: block;
  display: flex;
  align-items: center;
}
.user-name * {
  color: #000 !important;
}
.user-name .bsPerson {
  font-size: 44px;
  margin-right: 5px;
}
.user-name:hover {
  color: #326A32;
}

.user-name-wrapper {
  display: flex;
  align-items: center;
}

#toggle {
  display: none;
}

/**
   Hamburger
**/
.hamburger {
  position: absolute;
  top: 5em;
  right: 130px;
  margin-top: -68px;
  width: 2em;
  height: 45px;
  z-index: 5;
  cursor: pointer;
}

.hamburger div {
  position: relative;
  width: 2.5em;
  height: 4px;
  border-radius: 3px;
  background-color: #326A32;
  margin-top: 7px;
  transition: all 0.3s ease-in-out;
}

/**
   Nav Styles
**/
.nav {
  position: fixed;
  width: 100%;
  height: calc(100% - 78px);
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 77px;
  left: -100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
.nav-wrapper nav {
  display: flex;
  flex-direction: column;
}

.nav-wrapper nav {
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper nav a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: inline-block;
  margin-top: 1.5em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

.nav-wrapper nav a:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

.nav-wrapper nav a:hover {
  color: #326A32;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -4px;
}

#toggle:checked + .hamburger + .nav {
  left: 0;
  transform: scale(1);
}

.user-name-wrapper {
  display: block;
}

@media (max-width: 1080px) {
  .navbar a {
    font-size: 14px !important;
  }
}
@media (max-width: 1050px) {
  .navbar {
    display: none !important;
  }
  .navbarrr {
    display: block !important;
  }
  .nav-bar {
    padding: 13px 80px !important;
  }
  .hamburger {
    right: 80px;
  }
  .user-name-wrapper {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .nav-bar {
    padding: 13px 30px !important;
  }
  .hamburger {
    right: 30px;
  }
}/*# sourceMappingURL=index.css.map */