.container {
   width: 100%;
   margin: 0 auto;
}

.auth {
   width: 600px;
   height: 100vh;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.auth form {
   width: 80%;
}